#homeDictionary {
  background-color: #d9d4e7;
  height: 450px;
}

#homeDictionary h2 {
  color: #0e172c;
  text-align: center;
  padding-top: 5%;
  margin: 0;
}

#homeDictionary p {
  text-align: center;
}

.item {
  text-align: center;
  user-select: none;
  position: absolute;
  width: 95px;
  height: 95px;
  margin: 10px;
  z-index: 1;
  cursor: pointer;
  will-change: transform;
  border-radius: 6px;
  transition: box-shadow 0.2s;
  border-top-right-radius: 20px;
}

.item.muuri-item-positioning {
  z-index: 2;
}

.item.muuri-item-dragging,
.item.muuri-item-releasing {
  z-index: 3;
}

.item.muuri-item-dragging {
  cursor: move;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.item-content {
  display: flex;
  align-items: center;
  position: absolute;
  justify-content: center;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid;
  color: #333;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#aboutDictionarySmall {
  width: 830px;
  margin: auto;
}

#homeDictionarySmall {
  margin-top: 3%;
  margin-left: 7%;
}
