#navOuterDiv {
  height: 50px;
  background-color: white;
}

nav {
  width: 30%;
  display: flex;
  float: right;
}

nav a {
  line-height: 70px;
  text-decoration: none;
  flex: 1;
}

.navCurrentPage {
  color: #0e172c;
}

.navOtherPage {
  color: #a9a9a9;
}
